<!DOCTYPE html>
<html lang="en">
{% extends 'dash/base.html' %}
{% load static %}

<script>
{% block jquery %}
var endpoint = '/api/data/'
var data = []
var labels = []

var bar_endpoint = '/api/bar_data/'
var bar_data = []
var bar_lables = []

var bar_endpoint2 = '/api/bar_data2/'
var bar_data2 = []
var bar_lables2 = []


$.ajax({
    method: "GET",
    url: endpoint,
    success: function(data){
        labels = data.labels
        default_data = data.data
        var ctx = document.getElementById("myPieChart");
        var myPieChart = new Chart(ctx, {
          type: 'doughnut',
          data: {
            labels: labels,
            datasets: [{
              label: 'random',
              data: default_data,
              backgroundColor: ['#4e73df', '#1cc88a', '#36b9cc'],
              hoverBackgroundColor: ['#2e59d9', '#17a673', '#2c9faf'],
              hoverBorderColor: "rgba(234, 236, 244, 1)",
            }]
          },
          options: {
            maintainAspectRatio: false,
            tooltips: {
              backgroundColor: "rgb(255,255,255)",
              bodyFontColor: "#858796",
              borderColor: '#dddfeb',
              borderWidth: 1,
              xPadding: 15,
              yPadding: 15,
              displayColors: false,
              caretPadding: 10,
            },
            legend: {
              display: true
            },
            cutoutPercentage: 80,
            },
          
          }) 
    },
    error: function(error_data){
        console.log("error")
        console.log(error_data)
    }
})


$.ajax({
    method: "GET",
    url: bar_endpoint,
    success: function(data){
        bar_labels = data.bar_labels
        bar_data = data.bar_data
        var ctx = document.getElementById("myBarChart");
        var myBarChart = new Chart(ctx, {
          type: 'bar',
          data: {
            labels: bar_labels,
            datasets: [{
              label: 'FEDER programmé par Axe',
              data: bar_data,
              backgroundColor: ['#9fd8df','#edffec', '#caf7e3', '#ff7171', '#f5c0c0', '#f0e4d7', '#f6dfeb', '#f6dfeb'],
              hoverBorderColor: "rgba(234, 236, 244, 1)",
            }]
          },
          options: {
            maintainAspectRatio: false,
            tooltips: {
              backgroundColor: "rgb(255,255,255)",
              bodyFontColor: "#858796",
              borderColor: '#dddfeb',
              borderWidth: 1,
              xPadding: 15,
              yPadding: 15,
              displayColors: false,
              caretPadding: 10,
            },
            legend: {
              display: false
            },
            cutoutPercentage: 80,
            },
          
          }) 
    },
    error: function(error_data){
        console.log("error")
        console.log(error_data)
    }
})


$.ajax({
    method: "GET",
    url: bar_endpoint2,
    success: function(data){
        bar_labels2 = data.bar_labels
        bar_data2 = data.bar_data
        var ctx = document.getElementById("myAreaChart");
        var myAreaChart = new Chart(ctx, {
          type: 'bar',
          data: {
            labels: bar_labels2,
            datasets: [{
              label: 'FEDER programmé par OS',
              data: bar_data2,
              backgroundColor: ['#9fd8df','#edffec', '#caf7e3', '#ff7171', '#f5c0c0', '#f0e4d7', '#f6dfeb', '#f6dfeb'],
              hoverBorderColor: "rgba(234, 236, 244, 1)",
            }]
          },
          options: {
            maintainAspectRatio: false,
            tooltips: {
              backgroundColor: "rgb(255,255,255)",
              bodyFontColor: "#858796",
              borderColor: '#dddfeb',
              borderWidth: 1,
              xPadding: 15,
              yPadding: 15,
              displayColors: false,
              caretPadding: 10,
            },
            legend: {
              display: false
            },
            cutoutPercentage: 80,
            },
          
          }) 
    },
    error: function(error_data){
        console.log("error")
        console.log(error_data)
    }
})





// Pie Chart Example


{% endblock %}
</script>



{% block content%}



        
                <!-- Begin Page Content -->
                <div class="container-fluid">

                    <!-- Page Heading -->
                    <h1 class="h3 mb-2 text-gray-800">Charts</h1>
                    <p class="mb-4">Chart.js is a third party plugin that is used to generate the charts in this theme.
                        The charts below have been customized - for further customization options, please visit the <a
                            target="_blank" href="https://www.chartjs.org/docs/latest/">official Chart.js
                            documentation</a>.</p>

                    <!-- Content Row -->
                    <div class="row">

                        <div class="col-xl-8 col-lg-7">

                             <!-- Bar Chart -->
                            <div class="card shadow mb-4">
                                <div class="card-header py-3">
                                    <h6 class="m-0 font-weight-bold text-primary">FEDER programmé par axe</h6>
                                </div>
                                <div class="card-body">
                                    <div class="chart-bar">
                                        <canvas id="myBarChart"></canvas>
                                    </div>
                                    <hr>
                                    Styling for the bar chart can be found in the
                                    <code>/js/demo/chart-bar-demo.js</code> file.
                                </div>
                            </div>

                            <!-- Area Chart -->
                            <div class="card shadow mb-4">
                                <div class="card-header py-3">
                                    <h6 class="m-0 font-weight-bold text-primary">FEDER programmé par OS</h6>
                                </div>
                                <div class="card-body">
                                    <div class="chart-area">
                                        <canvas id="myAreaChart"></canvas>
                                    </div>
                                    <hr>
                                    Styling for the area chart can be found in the
                                    <code>/js/demo/chart-area-demo.js</code> file.
                                </div>
                            </div>


                        </div>

                        <!-- Donut Chart -->
                        <div class="col-xl-4 col-lg-5">
                            <div class="card shadow mb-4">
                                <!-- Card Header - Dropdown -->
                                <div class="card-header py-3">
                                    <h6 class="m-0 font-weight-bold text-primary">Mes dossiers FEDER</h6>
                                </div>
                                <!-- Card Body -->
                                <div class="card-body">
                                    <div class="chart-pie pt-4">
                                        <canvas id="myPieChart"></canvas>
                                    </div>
                                    <hr>
                                    Styling for the donut chart can be found in the
                                    <code>/js/demo/chart-pie-demo.js</code> file.
                                </div>
                            </div>
                        </div>

                        

                    </div>
                </div>


                                <div class="card-body">
                                    <div>
                                        <canvas id="PieChart"></canvas>
                                    </div>
                                </div>
                            

                <!-- /.container-fluid -->
{%endblock%}



</html>