{% extends 'dash/base.html' %}

{% load static %}

{% block content %}
<script>
{% block jquery %}



$('#parAxe').DataTable({
  "iDisplayLength": 50,
    dom: 'Bfrtip',
        buttons: [
            'csv', 'excel', 'pdf', 'print'
        ]
});

$('#parDI').DataTable({
  "iDisplayLength": 50,
    dom: 'Bfrtip',
        buttons: [
            'csv', 'excel', 'pdf', 'print'
        ]
});


{% endblock %}
</script>


<div class="card shadow mb-4 ml-3 mr-3">
	<div
        class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
        <h6 class="m-0 font-weight-bold text-primary "><i class="fa fa-wh fa-table mr-2" aria-hidden="true"></i> Tableau 1 - par axe prioritaire </h6>
        <div class="dropdown no-arrow">
            <a class="dropdown-toggle" href="#" role="button" id="dropdownMenuLink"
                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <i class="fas fa-ellipsis-v fa-sm fa-fw text-gray-400"></i>
            </a>
            <div class="dropdown-menu dropdown-menu-right shadow animated--fade-in"
                aria-labelledby="dropdownMenuLink">
                <div class="dropdown-header">Dropdown Header:</div>
                <a class="dropdown-item" href="#">Action</a>
                <a class="dropdown-item" href="#">Another action</a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" href="#">Something else here</a>
            </div>
        </div>
    </div>

	<div class="card-body">

		<table id= 'parAxe' class="table table-sm table-striped table-bordered table-hover">
		  <thead class='thead-dark'>
		    <tr class='text-center'>
		      <th class="align-middle " scope="col">Axe</th>
		      <th class="align-middle " scope="col">Coût total éligible des opérations séléctionnées pour un soutien (€)</th>
		      <th class="align-middle " scope="col">Coût public éligible des opérations séléctionnées pour un soutien (€)</th>
		      <th class="align-middle " scope="col">Total des dépenses éligibles déclarées par les bénéficiaires à l'autorité de gestion (€)</th>
		      <th class="align-middle " scope="col">Nombre de dossiers</th>
		    </tr>
		  </thead>
		  <tbody>
		  	{% for axe in somme_Axe %}
		    <tr class='text-center' class="align-middle ">
		      <th class='text-left' scope="row">{{axe.axe}}</th>
		      <td>{{axe.Montant_CT|floatformat}} </td>

		      {% if axe.Montant_public != None %}
		      <td>{{axe.Montant_public|floatformat}} </td>
		      {% else %}
		      <td>0 </td>
		      {% endif %}

		      {% if axe.Montant_CT_déposé != None %}
		      <td>{{axe.Montant_CT_déposé}}</td>
		      {% else %}
		      <td>0 </td>
		      {% endif %}
		      
		      {% if axe.Nombre != None %}
		      <td>{{axe.Nombre}} </td>
		      {% else %}
		      <td> 0 </td>
		      {% endif %}

		      
		    </tr>
		    {% endfor %}
		    
		  </tbody>

		  <tfoot class='text-center table-dark' class="align-middle ">
		  	<td class="align-middle ">Total</td>
		  	<td class="align-middle ml-2">{{somme_public.montant_public__sum|floatformat}} </td>
		  	<td class="align-middle ">{{somme_CT.montant_CT__sum|floatformat}} </td>
		  	<td class="align-middle ">{{somme_CT_déposé.DP_CT_depot__sum|floatformat}} </td>
		  	<td class="align-middle ">{{nombre.numero_op__count}}</td>

  		  </tfoot>
		</table>
	</div>
</div>

<div class="card shadow mb-4 ml-3 mr-3">
	<div
        class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
        <h6 class="m-0 font-weight-bold text-primary "><i class="fa fa-wh fa-table mr-2" aria-hidden="true"></i> Tableau 2 - par domaine d'intervention </h6>
        <div class="dropdown no-arrow">
            <a class="dropdown-toggle" href="#" role="button" id="dropdownMenuLink"
                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <i class="fas fa-ellipsis-v fa-sm fa-fw text-gray-400"></i>
            </a>
            <div class="dropdown-menu dropdown-menu-right shadow animated--fade-in"
                aria-labelledby="dropdownMenuLink">
                <div class="dropdown-header">Dropdown Header:</div>
                <a class="dropdown-item" href="#">Action</a>
                <a class="dropdown-item" href="#">Another action</a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" href="#">Something else here</a>
            </div>
        </div>
    </div>

	<div class="card-body">

		<table id='parDI' class="table table-sm table-striped table-bordered table-hover">
		  <thead class='thead-dark'>
		    <tr class='text-center'>
		      <th class="align-middle " scope="col">Domaine d'intervention</th>
		      <th class="align-middle " scope="col">Coût total éligible des opérations séléctionnées pour un soutien (€)</th>
		      <th class="align-middle " scope="col">Coût public éligible des opérations séléctionnées pour un soutien (€) </th>
		      <th class="align-middle " scope="col">Total des dépenses éligibles déclarées par les bénéficiaires à l'autorité de gestion (€)</th>
		      <th class="align-middle " scope="col">Nombre de dossiers</th>
		    </tr>
		  </thead>
		  <tbody>
		  	{% for DI in somme_DI %}
		    <tr class='text-center' class="align-middle ">
		    	{% if DI.DI == "nan" %}
		    	 <th class='text-left' scope="row">Domaine d'intervention non renseigné...</th>
		    	 {% else %}
		      	 <th class='text-left' scope="row">{{DI.DI}}</th>
		      	 {% endif %}

		      <td>{{DI.Montant_CT|floatformat}} </td>

		      {% if DI.Montant_public != None %}
		      <td>{{DI.Montant_public|floatformat}} </td>
		      {% else %}
		      <td>0 </td>
		      {% endif %}

		      {% if DI.Montant_CT_déposé != None %}
		      <td>{{DI.Montant_CT_déposé}}</td>
		      {% else %}
		      <td>0 </td>
		      {% endif %}
		      
		      {% if DI.Nombre != None %}
		      <td>{{DI.Nombre}} </td>
		      {% else %}
		      <td> 0 </td>
		      {% endif %}

		      
		    </tr>
		    {% endfor %}
		    
		  </tbody>

		  <tfoot class='text-center table-dark' class="align-middle ">
		  	<td class="align-middle ">Total</td>
		  	<td class="align-middle ml-2">{{somme_public_DI.montant_public__sum|floatformat}} </td>
		  	<td class="align-middle ">{{somme_CT_DI.montant_CT__sum|floatformat}} </td>
		  	<td class="align-middle ">{{somme_CT_déposé_DI.DP_CT_depot__sum|floatformat}} </td>
		  	<td class="align-middle ">{{nombre_DI.numero_op__count}}</td>

  		  </tfoot>
		</table>
	</div>
</div>

{% endblock %}