{% extends 'dash/base.html' %}
{% load static %}
{% load crispy_forms_tags %}


{% block content %}

		
 						<div class="row">
	                        <div class="col-xl-6 col-md-6 mb-4 ml-3">
	                            <div class="card shadow mb-4">
	                                <!-- Card Header - Dropdown -->
	                                <div
	                                    class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
	                                    <h6 class="m-0 font-weight-bold text-primary">Renseiger mes enveloppes FEDER</h6> 
	                                    
	                                </div>
	                                <!-- Card Body -->
	                                <div class="card-body">
	                                    <div>
	                                        <form method="POST" enctype="multipart/form-data">
												{% csrf_token %}
												
												<div class="card border-primary mb-3" style="max-width: 40rem;">
												  <div class="card-header">Enveloppe totale FEDER: {{form.Enveloppe_totale}}</div>
												</div>

												<div class="card border-primary mb-3" style="max-width: 40rem;">
												  <div class="card-header">Axe 1 : {{form.Axe_1}}</div>
												  <div class="card-body text-primary">
												    <h6 class="card-title">Objectifs spécifiques</h6>
												    <ul class="list-group list-group-flush">
												    	<li class="list-group-item">OS 1.1 : {{form.OS_1_1}}</li>
												    	<li class="list-group-item">OS 1.2 : {{form.OS_1_2}}</li>
												    	<li class="list-group-item">OS 1.3 : {{form.OS_1_3}}</li>
												    	<li class="list-group-item">OS 1.4 : {{form.OS_1_4}}</li>
												    	<li class="list-group-item">OS 1.5 : {{form.OS_1_5}}</li>
												    	<li class="list-group-item">OS 1.6 : {{form.OS_1_6}}</li>
												    	<li class="list-group-item">OS 1.7 : {{form.OS_1_7}}</li>
												    	<li class="list-group-item">OS 1.8 : {{form.OS_1_8}}</li>
												    	<li class="list-group-item">OS 1.9 : {{form.OS_1_9}}</li>
												    	<li class="list-group-item">OS 1.10 : {{form.OS_1_10}}</li>
												    </ul>
												  </div>
												</div>

												  <div class="card border-primary mt-3 mb-3" style="max-width: 40rem;">
												  <div class="card-header">Axe 2 : {{form.Axe_2}}</div>
												  <div class="card-body text-primary">
												    <h6 class="card-title">Objectifs spécifiques</h6>
												    <ul class="list-group list-group-flush">
												    	<li class="list-group-item">OS 2.1 : {{form.OS_2_1}}</li>
												    	<li class="list-group-item">OS 2.2 : {{form.OS_2_2}}</li>
												    	<li class="list-group-item">OS 2.3 : {{form.OS_2_3}}</li>
												    	<li class="list-group-item">OS 2.4 : {{form.OS_2_4}}</li>
												    	<li class="list-group-item">OS 2.5 : {{form.OS_2_5}}</li>
												    	<li class="list-group-item">OS 2.6 : {{form.OS_2_6}}</li>
												    	<li class="list-group-item">OS 2.7 : {{form.OS_2_7}}</li>
												    	<li class="list-group-item">OS 2.8 : {{form.OS_2_8}}</li>
												    	<li class="list-group-item">OS 2.9 : {{form.OS_2_9}}</li>
												    	<li class="list-group-item">OS 2.10 : {{form.OS_2_10}}</li>
												    </ul>
												  </div>
												</div>

												 <div class="card border-primary mt-3 mb-3" style="max-width: 40rem;">
												  <div class="card-header">Axe 3 : {{form.Axe_3}}</div>
												  <div class="card-body text-primary">
												    <h6 class="card-title">Objectifs spécifiques</h6>
												    <ul class="list-group list-group-flush">
												    	<li class="list-group-item">OS 3.1 : {{form.OS_3_1}}</li>
												    	<li class="list-group-item">OS 3.2 : {{form.OS_3_2}}</li>
												    	<li class="list-group-item">OS 3.3 : {{form.OS_3_3}}</li>
												    	<li class="list-group-item">OS 3.4 : {{form.OS_3_4}}</li>
												    	<li class="list-group-item">OS 3.5 : {{form.OS_3_5}}</li>
												    	<li class="list-group-item">OS 3.6 : {{form.OS_3_6}}</li>
												    	<li class="list-group-item">OS 3.7 : {{form.OS_3_7}}</li>
												    	<li class="list-group-item">OS 3.8 : {{form.OS_3_8}}</li>
												    	<li class="list-group-item">OS 3.9 : {{form.OS_3_9}}</li>
												    	<li class="list-group-item">OS 3.10 : {{form.OS_3_10}}</li>
												    </ul>
												  </div>
												</div>

												<div class="card border-primary mt-3 mb-3" style="max-width: 40rem;">
												  <div class="card-header">Axe 4 : {{form.Axe_4}}</div>
												  <div class="card-body text-primary">
												    <h6 class="card-title">Objectifs spécifiques</h6>
												    <ul class="list-group list-group-flush">
												    	<li class="list-group-item">OS 4.1 : {{form.OS_4_1}}</li>
												    	<li class="list-group-item">OS 4.2 : {{form.OS_4_2}}</li>
												    	<li class="list-group-item">OS 4.3 : {{form.OS_4_3}}</li>
												    	<li class="list-group-item">OS 4.4 : {{form.OS_4_4}}</li>
												    	<li class="list-group-item">OS 4.5 : {{form.OS_4_5}}</li>
												    	<li class="list-group-item">OS 4.6 : {{form.OS_4_6}}</li>
												    	<li class="list-group-item">OS 4.7 : {{form.OS_4_7}}</li>
												    	<li class="list-group-item">OS 4.8 : {{form.OS_4_8}}</li>
												    	<li class="list-group-item">OS 4.9 : {{form.OS_4_9}}</li>
												    	<li class="list-group-item">OS 4.10 : {{form.OS_4_10}}</li>
												    </ul>
												  </div>
												</div>

												<div class="card border-primary mt-3 mb-3" style="max-width: 40rem;">
												  <div class="card-header">Axe 5 : {{form.Axe_5}}</div>
												  <div class="card-body text-primary">
												    <h6 class="card-title">Objectifs spécifiques</h6>
												    <ul class="list-group list-group-flush">
												    	<li class="list-group-item">OS 5.1 : {{form.OS_5_1}}</li>
												    	<li class="list-group-item">OS 5.2 : {{form.OS_5_2}}</li>
												    	<li class="list-group-item">OS 5.3 : {{form.OS_5_3}}</li>
												    	<li class="list-group-item">OS 5.4 : {{form.OS_5_4}}</li>
												    	<li class="list-group-item">OS 5.5 : {{form.OS_5_5}}</li>
												    	<li class="list-group-item">OS 5.6 : {{form.OS_5_6}}</li>
												    	<li class="list-group-item">OS 5.7 : {{form.OS_5_7}}</li>
												    	<li class="list-group-item">OS 5.8 : {{form.OS_5_8}}</li>
												    	<li class="list-group-item">OS 5.9 : {{form.OS_5_9}}</li>
												    	<li class="list-group-item">OS 5.10 : {{form.OS_5_10}}</li>
												    </ul>
												  </div>
												</div>

												<div class="card border-primary mt-3 mb-3" style="max-width: 40rem;">
												  <div class="card-header">Axe 6 : {{form.Axe_6}}</div>
												  <div class="card-body text-primary">
												    <h6 class="card-title">Objectifs spécifiques</h6>
												    <ul class="list-group list-group-flush">
												    	<li class="list-group-item">OS 6.1 : {{form.OS_6_1}}</li>
												    	<li class="list-group-item">OS 6.2 : {{form.OS_6_2}}</li>
												    	<li class="list-group-item">OS 6.3 : {{form.OS_6_3}}</li>
												    	<li class="list-group-item">OS 6.4 : {{form.OS_6_4}}</li>
												    	<li class="list-group-item">OS 6.5 : {{form.OS_6_5}}</li>
												    	<li class="list-group-item">OS 6.6 : {{form.OS_6_6}}</li>
												    	<li class="list-group-item">OS 6.7 : {{form.OS_6_7}}</li>
												    	<li class="list-group-item">OS 6.8 : {{form.OS_6_8}}</li>
												    	<li class="list-group-item">OS 6.9 : {{form.OS_6_9}}</li>
												    	<li class="list-group-item">OS 6.10 : {{form.OS_6_10}}</li>
												    </ul>
												  </div>
												</div>

												<div class="card border-primary mt-3 mb-3" style="max-width: 40rem;">
												  <div class="card-header">Axe 7 : {{form.Axe_7}}</div>
												  <div class="card-body text-primary">
												    <h6 class="card-title">Objectifs spécifiques</h6>
												    <ul class="list-group list-group-flush">
												    	<li class="list-group-item">OS 7.1 : {{form.OS_7_1}}</li>
												    	<li class="list-group-item">OS 7.2 : {{form.OS_7_2}}</li>
												    	<li class="list-group-item">OS 7.3 : {{form.OS_7_3}}</li>
												    	<li class="list-group-item">OS 7.4 : {{form.OS_7_4}}</li>
												    	<li class="list-group-item">OS 7.5 : {{form.OS_7_5}}</li>
												    	<li class="list-group-item">OS 7.6 : {{form.OS_7_6}}</li>
												    	<li class="list-group-item">OS 7.7 : {{form.OS_7_7}}</li>
												    	<li class="list-group-item">OS 7.8 : {{form.OS_7_8}}</li>
												    	<li class="list-group-item">OS 7.9 : {{form.OS_7_9}}</li>
												    	<li class="list-group-item">OS 7.10 : {{form.OS_7_10}}</li>
												    </ul>
												  </div>
												</div>

												<div class="card border-primary mt-3 mb-3" style="max-width: 40rem;">
												  <div class="card-header">Axe 8 : {{form.Axe_8}}</div>
												  <div class="card-body text-primary">
												    <h6 class="card-title">Objectifs spécifiques</h6>
												    <ul class="list-group list-group-flush">
												    	<li class="list-group-item">OS 8.1 : {{form.OS_8_1}}</li>
												    	<li class="list-group-item">OS 8.2 : {{form.OS_8_2}}</li>
												    	<li class="list-group-item">OS 8.3 : {{form.OS_8_3}}</li>
												    	<li class="list-group-item">OS 8.4 : {{form.OS_8_4}}</li>
												    	<li class="list-group-item">OS 8.5 : {{form.OS_8_5}}</li>
												    	<li class="list-group-item">OS 8.6 : {{form.OS_8_6}}</li>
												    	<li class="list-group-item">OS 8.7 : {{form.OS_8_7}}</li>
												    	<li class="list-group-item">OS 8.8 : {{form.OS_8_8}}</li>
												    	<li class="list-group-item">OS 8.9 : {{form.OS_8_9}}</li>
												    	<li class="list-group-item">OS 8.10 : {{form.OS_8_10}}</li>
												    </ul>
												  </div>
												</div>

												<div class="card border-primary mt-3 mb-3" style="max-width: 40rem;">
												  <div class="card-header">Axe 9 : {{form.Axe_9}}</div>
												  <div class="card-body text-primary">
												    <h6 class="card-title">Objectifs spécifiques</h6>
												    <ul class="list-group list-group-flush">
												    	<li class="list-group-item">OS 9.1 : {{form.OS_9_1}}</li>
												    	<li class="list-group-item">OS 9.2 : {{form.OS_9_2}}</li>
												    	<li class="list-group-item">OS 9.3 : {{form.OS_9_3}}</li>
												    	<li class="list-group-item">OS 9.4 : {{form.OS_9_4}}</li>
												    	<li class="list-group-item">OS 9.5 : {{form.OS_9_5}}</li>
												    	<li class="list-group-item">OS 9.6 : {{form.OS_9_6}}</li>
												    	<li class="list-group-item">OS 9.7 : {{form.OS_9_7}}</li>
												    	<li class="list-group-item">OS 9.8 : {{form.OS_9_8}}</li>
												    	<li class="list-group-item">OS 9.9 : {{form.OS_9_9}}</li>
												    	<li class="list-group-item">OS 9.10 : {{form.OS_9_10}}</li>
												    </ul>
												  </div>
												</div>


												<div class="card border-primary mt-3 mb-3" style="max-width: 40rem;">
												  <div class="card-header">Axe 10 : {{form.Axe_10}}</div>
												  <div class="card-body text-primary">
												    <h6 class="card-title">Objectifs spécifiques</h6>
												    <ul class="list-group list-group-flush">
												    	<li class="list-group-item">OS 10.1 : {{form.OS_10_1}}</li>
												    	<li class="list-group-item">OS 10.2 : {{form.OS_10_2}}</li>
												    	<li class="list-group-item">OS 10.3 : {{form.OS_10_3}}</li>
												    	<li class="list-group-item">OS 10.4 : {{form.OS_10_4}}</li>
												    	<li class="list-group-item">OS 10.5 : {{form.OS_10_5}}</li>
												    	<li class="list-group-item">OS 10.6 : {{form.OS_10_6}}</li>
												    	<li class="list-group-item">OS 10.7 : {{form.OS_10_7}}</li>
												    	<li class="list-group-item">OS 10.8 : {{form.OS_10_8}}</li>
												    	<li class="list-group-item">OS 10.9 : {{form.OS_10_9}}</li>
												    	<li class="list-group-item">OS 10.10 : {{form.OS_10_10}}</li>
												    </ul>
												  </div>
												</div>

												<div class="card border-primary mt-3 mb-3" style="max-width: 40rem;">
												  <div class="card-header">Axe 11 : {{form.Axe_1}}</div>
												  <div class="card-body text-primary">
												    <h6 class="card-title">Objectifs spécifiques</h6>
												    <ul class="list-group list-group-flush">
												    	<li class="list-group-item">OS 10.1 : {{form.OS_11_1}}</li>
												    	<li class="list-group-item">OS 11.2 : {{form.OS_11_2}}</li>
												    	<li class="list-group-item">OS 11.3 : {{form.OS_11_3}}</li>
												    	<li class="list-group-item">OS 11.4 : {{form.OS_11_4}}</li>
												    	<li class="list-group-item">OS 11.5 : {{form.OS_11_5}}</li>
												    	<li class="list-group-item">OS 11.6 : {{form.OS_11_6}}</li>
												    	<li class="list-group-item">OS 11.7 : {{form.OS_11_7}}</li>
												    	<li class="list-group-item">OS 11.8 : {{form.OS_11_8}}</li>
												    	<li class="list-group-item">OS 11.9 : {{form.OS_11_9}}</li>
												    	<li class="list-group-item">OS 11.10 : {{form.OS_11_10}}</li>
												    </ul>
												  </div>
												</div>

												<div class="card border-primary mt-3 mb-3" style="max-width: 40rem;">
												  <div class="card-header">Axe 12 : {{form.Axe_1}}</div>
												  <div class="card-body text-primary">
												    <h6 class="card-title">Objectifs spécifiques</h6>
												    <ul class="list-group list-group-flush">
												    	<li class="list-group-item">OS 12.1 : {{form.OS_12_1}}</li>
												    	<li class="list-group-item">OS 12.2 : {{form.OS_12_2}}</li>
												    	<li class="list-group-item">OS 12.3 : {{form.OS_12_3}}</li>
												    	<li class="list-group-item">OS 12.4 : {{form.OS_12_4}}</li>
												    	<li class="list-group-item">OS 12.5 : {{form.OS_12_5}}</li>
												    	<li class="list-group-item">OS 12.6 : {{form.OS_12_6}}</li>
												    	<li class="list-group-item">OS 12.7 : {{form.OS_12_7}}</li>
												    	<li class="list-group-item">OS 12.8 : {{form.OS_12_8}}</li>
												    	<li class="list-group-item">OS 12.9 : {{form.OS_12_9}}</li>
												    	<li class="list-group-item">OS 12.10 : {{form.OS_12_10}}</li>
												    </ul>
												  </div>
												</div>

												<div class="card border-primary mt-3 mb-3" style="max-width: 40rem;">
												  <div class="card-header">Axe 13 : {{form.Axe_1}}</div>
												  <div class="card-body text-primary">
												    <h6 class="card-title">Objectifs spécifiques</h6>
												    <ul class="list-group list-group-flush">
												    	<li class="list-group-item">OS 13.1 : {{form.OS_13_1}}</li>
												    	<li class="list-group-item">OS 13.2 : {{form.OS_13_2}}</li>
												    	<li class="list-group-item">OS 13.3 : {{form.OS_13_3}}</li>
												    	<li class="list-group-item">OS 13.4 : {{form.OS_13_4}}</li>
												    	<li class="list-group-item">OS 13.5 : {{form.OS_13_5}}</li>
												    	<li class="list-group-item">OS 13.6 : {{form.OS_13_6}}</li>
												    	<li class="list-group-item">OS 13.7 : {{form.OS_13_7}}</li>
												    	<li class="list-group-item">OS 13.8 : {{form.OS_13_8}}</li>
												    	<li class="list-group-item">OS 13.9 : {{form.OS_13_9}}</li>
												    	<li class="list-group-item">OS 13.10 : {{form.OS_13_10}}</li>
												    </ul>
												  </div>
												</div>



												









												<button type = 'submit' class= 'btn btn-outline-primary'> Envoyer ! </button>
											</form> 
	                                    </div>
	                                </div>
	                            </div>
	                        </div>
                            
                        	<div class="col-xl-5 col-md-6 mb-4">
                            <div class="card shadow mb-4">
                                <!-- Card Header - Dropdown -->
                                <div
                                    class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                                    <h6 class="m-0 font-weight-bold text-primary">Comment renseigner ce tableau ? </h6>
                                   
                                </div>
                                <!-- Card Body -->
                                <div class="card-body">
                                    <div class="pt-1 pb-2">
                                    	Nous avons prévu plus de cases que nécéssaire pour être certain que vous puissiez renseigner tout ce dont vous avez besoin. Tout n'est donc pas à renseigner ici.<br><br>
                                    	Il sufit que vous remplissiez les montant des enveloppes par axe et par objectif spécifique pour chaque axe. Si vous n'avez pas selectionné cet axe ou cet objectif spécifique, passez au suivant. Nous ignorerons les axes et objectifs non renseignés. <br> <br>
                                    	Si vous ne renseignez pas ce tableau, le calcul des montants certifés et des restants à programmer seront réalisés sur la base des montants programmés.
                                        
                                        
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>



{% endblock %}