{% extends 'dash/base.html' %}

{% block content%}

						<div class="col-xl-7 col-md-6 mb-4">
                            <div class="card border-left-danger shadow h-100 py-2">
                                <div class="card-body">
                                    <div class="row no-gutters align-items-center">
                                        <div class="col mr-2">
                                            <div class="font-weight-bold text-danger text-uppercase mb-1">
                                                Oups...</div>
                                            <div class="h6 mb-0 font-weight-bold text-gray-800">Il semble que vous n'ayez pas encore importé de dossier que Blue puisse traiter... Pour importer vos données, cliquez sur "importer mes données" dans la barre des latérale. </div>
                                        </div>
                                        
                                    </div>
                                </div>
                            </div>
                        </div>
{% endblock %}