{% extends 'dash/base.html' %}


{% block content %}


 <div class="col-xl-8 col-lg-7">
                            <div class="card shadow mb-4">
                                <!-- Card Header - Dropdown -->
                                <div
                                    class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                                    <h6 class="m-0 font-weight-bold text-info">Importer une extraction indicateurs</h6>
                                    
                                </div>
                                <!-- Card Body -->
                                <div class="card-body">
                                    <div>
                                        <form method="POST" enctype="multipart/form-data">
											{% csrf_token %}
											{{i_form.as_p}}
											<button type = 'submit' class= 'btn btn-outline-info'> Télécharger </button>
										</form> 
                                    </div>
                                </div>
                            </div>
                        </div>

{% endblock %}

