{% extends 'dash/base.html' %}
{% load dash_filters %}
{% load static %}




{% block content %}

<div class="ml-4 mb-2" >
	
	<div class="d-flex flex-row">
		<div class="p-2 mr-auto"><h1>{{numero_op.porteur}} | <span class="badge badge-dark">{{numero_op.numero_op}}</span></h1><h6 class="font-weight-light">{{numero_op.libélé}} ({{numero_op.axe}} / {{numero_op.os}})</h6></div>

		<div class="p-2 ml-auto mt-3" href="#" data-toggle="modal" data-target="#ContactModal"><button class = "btn btn-sm btn-outline-primary">Contacter porteur</button></div> 
		<div class="p-2 mt-3 mr-3"><button class = "btn btn-sm btn-outline-secondary">Extraire la fiche dossier</button></div>
	</div>

    <!-- contacter porteur Modal-->
                    <div class="modal fade" id="ContactModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
                        aria-hidden="true">
                        <div class="modal-dialog" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="exampleModalLabel">Contacter le porteur : </h5>
                                    <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">×</span>
                                    </button>
                                </div>
                                <div class="modal-body"> <span class="text-primary"> Représentant légal : </span><br>{{numero_op.représentant_légal}} <br>
                                {{numero_op.représentant_légal_tel}} <br>
                                {{numero_op.représentant_légal_mail}} <br> 
                                </div>

                                

                                <div class="modal-body"><span class="text-primary"> Référent opération : </span><br>
                                {{numero_op.référent}} <br>
                                {{numero_op.référent_tel}}<br>
                                {{numero_op.référent_mail}} <br> 
                                </div>
                                <div class="modal-footer">
                                    <button class="btn btn-secondary" type="button" data-dismiss="modal">Fermer</button>
                                    
                                </div>
                            </div>
                        </div>
                    </div>

    {% if numero_op.statut_macro == 'Retiré'%}
    <div>
        <span class="mr-3 ml-2"> <span class= "text-danger"> Ce dossier a été retiré </span> (cause du retrait : "{{numero_op.statut_détaillé}}") </span>
    </div>

    {% elif numero_op.statut_macro == 'En instruction'%}
    <div>
        <span class="mr-3 ml-2"> <span class= "text-primary"> Ce dossier est en cours d'instruction </span> (état actuel : "{{numero_op.statut_détaillé}}") </span>
    </div>

    {% elif numero_op.statut_macro == 'Déposé'%}
    <div>
        <span class="mr-3 ml-2"> <span class= "text-primary"> Ce dossier est déposé  </span> (date de dépôt : {{numero_op.date_dépôt}}) Prochaine étape : l'instruction ! (Etat actuel du dossier : "{{numero_op.statut_détaillé}}")  </span>
    </div>



    {% elif numero_op.DP_certif == None or numero_op.montant_UE == None %}
    <div>
        <span class="mr-3 ml-2"> <span class= "text-warning"> Dossier en attente d'une première demande de paiement : </span> Aucun FEDER n'a été versé sur ce dossier. Peut-être qu'il faut relancer le porteur ? </span>
    </div>


    {% elif numero_op.statut_détaillé == 'Solde versé' or numero_op.statut_détaillé == 'Achevé financièrement' %}
    <span class="mr-3 ml-2"> <span class= "text-success">Dossier soldé : </span> vous avez versé {{numero_op.DP_certif|divide:numero_op.montant_UE}}% de la somme FEDER programmée initialement.</span>
    <div class="progress mr-3 ml-2" style="height: 8px">
      <div class="progress-bar progress-bar-striped progress-bar-animated bg-success" role="progressbar" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100" style="width: 100%"></div>
    </div>


    {% else %}
    <span class="mr-3 ml-2"> <span class="text-info"> Dossier en cours : </span>vous avez versé {{numero_op.DP_certif|divide:numero_op.montant_UE}}% de la somme FEDER programmée. Encore {{numero_op.montant_UE|substract:numero_op.DP_certif}} € de FEDER à verser pour solder l'opération !</span>
    <div class="progress mr-3 ml-2" style="height: 8px">
      <div class="progress-bar progress-bar-striped progress-bar-animated bg-info" role="progressbar" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100" style="width: {{numero_op.DP_certif|divide:numero_op.montant_UE}}%"></div>
    </div>
    

    {% endif %}
</div>	

	<hr class="sidebar-divider">



				<div class="container-fluid">
					<div class="row">
					

                        <div class="col-xl-3 col-md-6 mb-4">
                            <div class="card border-left-primary shadow h-100 py-2">
                                <div class="card-body">
                                    <div class="row no-gutters align-items-center">
                                        <div class="col mr-2">
                                            <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">
                                                Coût total programmé</div>
                                            <div class="h5 mb-0 font-weight-bold text-gray-800">{{numero_op.montant_CT}} €</div>
                                        </div>
                                        <div class="col-auto">
                                            <i class="fas fa-dollar-sign fa-2x text-gray-300"></i>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>


                        <!-- Earnings (Monthly) Card Example -->

                        <div class="col-xl-3 col-md-6 mb-4">
                            <div class="card border-left-success shadow h-100 py-2">
                                <div class="card-body">
                                    <div class="row no-gutters align-items-center">
                                        <div class="col mr-2">
                                            <div class="text-xs font-weight-bold text-success text-uppercase mb-1">
                                                FEDER programmé </div>
                                            <div class="h5 mb-0 font-weight-bold text-gray-800">{{numero_op.montant_UE}} €</div>
                                        </div>
                                        <div class="col-auto">
                                            <i class="fas fa-dollar-sign fa-2x text-gray-300"></i>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="col-xl-3 col-md-6 mb-4">
                            <div class="card border-left-info shadow h-100 py-2">
                                <div class="card-body">
                                    <div class="row no-gutters align-items-center">
                                        <div class="col mr-2">
                                            <div class="text-xs font-weight-bold text-info text-uppercase mb-1">
                                                Coût total déposé </div>
                                            <div class="h5 mb-0 font-weight-bold text-gray-800">
                                            {% if numero_op.DP_CT_depot == nan %}
                                                 0 €
                                            {% else %}
                                                {{numero_op.DP_CT_depot}} €
                                            {% endif %}

                                            </div>
                                        </div>
                                        <div class="col-auto">
                                            <i class="fas fa-dollar-sign fa-2x text-gray-300"></i>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="col-xl-3 col-md-6 mb-4">
                            <div class="card border-left-warning shadow h-100 py-2">
                                <div class="card-body">
                                    <div class="row no-gutters align-items-center">
                                        <div class="col mr-2">
                                            <div class="text-xs font-weight-bold text-warning text-uppercase mb-1">
                                                FEDER certifié </div>
                                            <div class="h5 mb-0 font-weight-bold text-gray-800">
                                            {% if numero_op.DP_certif == nan %}
                                                 0 €
                                            {% else %}
                                                {{numero_op.DP_certif}} €
                                            {% endif %}
                                            </div>
                                        </div>
                                        <div class="col-auto">
                                            <i class="fas fa-dollar-sign fa-2x text-gray-300"></i>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>

                

                    <div class="row">
                    

    						<div class="col-xl-8 col-lg-7">
                                {% if numero_op.descriptif != 'nan' %}
                                <div class="card shadow mb-4">
                                    <!-- Card Header - Dropdown -->
                                    <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                                        <h6 class="m-0 font-weight-bold text-primary">Descriptif</h6>
                                        <div class="dropdown no-arrow">
                                            <a class="dropdown-toggle" href="#" role="button" id="dropdownMenuLink"
                                                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                                <i class="fas fa-ellipsis-v fa-sm fa-fw text-gray-400"></i>
                                            </a>
                                            <div class="dropdown-menu dropdown-menu-right shadow animated--fade-in"
                                                aria-labelledby="dropdownMenuLink">
                                                <div class="dropdown-header">Dropdown Header:</div>
                                                <a class="dropdown-item" href="#">Action</a>
                                                <a class="dropdown-item" href="#">Another action</a>
                                                <div class="dropdown-divider"></div>
                                                <a class="dropdown-item" href="#">Something else here</a>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- Card Body -->
                                    <div class="card-body">
                                        <div>
                                            {{numero_op.descriptif}}
                                        </div>
                                    </div>
                            	</div>
                                {% endif%}

                                <div class="card shadow mb-4">

                                    <div
                                        class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                                        <h6 class="m-0 font-weight-bold text-primary ">Plan de financement |<span class="m-0 font-weight-bold text-secondary "> Coût total programmé : {{numero_op.montant_CT}} €</span></h6>
                                        <div class="dropdown no-arrow">
                                            <a class="dropdown-toggle" href="#" role="button" id="dropdownMenuLink"
                                                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                                <i class="fas fa-ellipsis-v fa-sm fa-fw text-gray-400"></i>
                                            </a>
                                            <div class="dropdown-menu dropdown-menu-right shadow animated--fade-in"
                                                aria-labelledby="dropdownMenuLink">
                                                <div class="dropdown-header">Dropdown Header:</div>
                                                <a class="dropdown-item" href="#">Action</a>
                                                <a class="dropdown-item" href="#">Another action</a>
                                                <div class="dropdown-divider"></div>
                                                <a class="dropdown-item" href="#">Something else here</a>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="card-body">

                                        <div>
                                            <table class="table table-sm table-bordered">

                                                <thead>
                                                    <tr class='text-center'>
                                                      
                                                      
                                                      <th class="align-middle " scope="col">FEDER</th>
                                                      <th class="align-middle " scope="col">Etat</th>
                                                      <th class="align-middle" scope="col">Département</th>
                                                      <th class="align-middle" scope="col">Région</th>
                                                      <th class="align-middle " scope="col">Autre Public</th>
                                                      <th class="align-middle " scope="col">Privé</th>
                                                      <th class="align-middle " scope="col">Autofinancement</th>
                                                      
                                                    </tr>
                                                  </thead>
                                                  <tbody>
                                                    <tr class='text-center'>
                                                      
                                                      {% if numero_op.montant_UE == None %}
                                                         <td class="align-middle">0 €</td>
                                                      {% else %}
                                                        <td class="align-middle">{{numero_op.montant_UE}} €</td>
                                                      {% endif %}

                                                        {% if numero_op.montant_Etat == None %}
                                                         <td class="align-middle">0 €</td>
                                                        {% else %}
                                                        <td class="align-middle">{{numero_op.montant_Etat}} €</td>
                                                        {% endif %}

                                                        {% if numero_op.montant_CD == None %}
                                                         <td class="align-middle">0 €</td>
                                                        {% else %}
                                                        <td class="align-middle">{{numero_op.montant_CD}} €</td>
                                                        {% endif %}

                                                        {% if numero_op.montant_Reg == None %}
                                                         <td class="align-middle">0 €</td>
                                                        {% else %}
                                                        <td class="align-middle">{{numero_op.montant_Reg}} €</td>
                                                        {% endif %}

                                                        {% if numero_op.montant_autre_public == None %}
                                                         <td class="align-middle">0 €</td>
                                                        {% else %}
                                                        <td class="align-middle">{{numero_op.montant_autre_public}}</td>
                                                        {% endif %}

                                                        {% if numero_op.montant_privé == None %}
                                                         <td class="align-middle">0 €</td>
                                                        {% else %}
                                                        <td class="align-middle">{{numero_op.montant_privé}} €</td>
                                                        {% endif %}

                                                        {% if numero_op.montant_auto == None %}
                                                         <td class="align-middle">0 €</td>
                                                        {% else %}
                                                        <td class="align-middle">{{numero_op.montant_auto}} €</td>
                                                        {% endif %}

                       
                                                    </tr>

                                                    <tr class='text-center'>
                                                        {% if numero_op.montant_UE == None %}
                                                            <td class="align-middle"> 0% </td>
                                                        {% else %}
                                                            <td class="align-middle">
                                                            {{numero_op.montant_UE|divide:numero_op.montant_CT}}%</td>
                                                        {% endif %}

                                                        {% if numero_op.montant_Etat == None %}
                                                            <td> 0%</td>
                                                        {% else %}
                                                            <td class="align-middle">
                                                            {{numero_op.montant_Etat|divide:numero_op.montant_CT}}%</td>
                                                        {% endif %}

                                                        {% if numero_op.montant_CD == None %}
                                                            <td class="align-middle"> 0%</td>
                                                        {% else %}
                                                            <td class="align-middle">
                                                            {{numero_op.montant_CD|divide:numero_op.montant_CT}}%</td>
                                                        {% endif %}

                                                        {% if numero_op.montant_Reg == None %}
                                                            <td class="align-middle"> 0%</td>
                                                        {% else %}
                                                            <td class="align-middle">
                                                            {{numero_op.montant_Reg|divide:numero_op.montant_CT}}%</td>
                                                        {% endif %}

                                                        {% if numero_op.montant_autre_public == None %}
                                                            <td class="align-middle"> 0%</td>
                                                        {% else %}
                                                            <td class="align-middle">
                                                            {{numero_op.montant_autre_public|divide:numero_op.montant_CT}}%</td>
                                                        {% endif %}

                                                        {% if numero_op.montant_privé == None %}
                                                            <td class="align-middle"> 0%</td>
                                                        {% else %}
                                                            <td class="align-middle">
                                                            {{numero_op.montant_privé|divide:numero_op.montant_CT}}%</td>
                                                        {% endif %}

                                                        {% if numero_op.montant_auto == None %}
                                                            <td class="align-middle"> 0%</td>
                                                        {% else %}
                                                            <td class="align-middle">
                                                            {{numero_op.montant_auto|divide:numero_op.montant_CT}}%</td>
                                                        {% endif %}


                                            
                                                        



                                                    </tr>
                                                  </tbody>
                                            </table>

                                            <div class="card shadow mb-4">
                               

                                            <div class="card-body">
                                            
                                                <h4 class="small font-weight-bold">Participation par financeur <span
                                                        class="float-right">100%</span></h4>
                                                <div class="progress">


                                                  
                                                  {% if numero_op.montant_UE == None %}
                                                    <div class="progress-bar progress-bar-striped progress-bar-animated bg-primary" role="progressbar" style="width: 0%" aria-valuenow="15" aria-valuemin="0" aria-valuemax="100"></div>
                                                  {% else %}
                                                    <div class="progress-bar progress-bar-striped progress-bar-animated bg-primary" role="progressbar" style="width: {{numero_op.montant_UE|divide:numero_op.montant_CT}}%" aria-valuenow="15" aria-valuemin="0" aria-valuemax="100"></div>
                                                  {% endif %}

                                                  {% if numero_op.montant_Etat == None %}
                                                    <div class="progress-bar bg-success" role="progressbar" style="width: 0%" aria-valuenow="15" aria-valuemin="0" aria-valuemax="100"></div>
                                                  {% else %}
                                                    <div class="progress-bar bg-success" role="progressbar" style="width: {{numero_op.montant_Etat|divide:numero_op.montant_CT}}%" aria-valuenow="15" aria-valuemin="0" aria-valuemax="100"></div>
                                                  {% endif %}

                                                  {% if numero_op.montant_CD == None %}
                                                    <div class="progress-bar bg-info" role="progressbar" style="width: 0%" aria-valuenow="15" aria-valuemin="0" aria-valuemax="100"></div>
                                                  {% else %}
                                                    <div class="progress-bar bg-info" role="progressbar" style="width: {{numero_op.montant_CD|divide:numero_op.montant_CT}}%" aria-valuenow="15" aria-valuemin="0" aria-valuemax="100"></div>
                                                  {% endif %}

                                                  {% if numero_op.montant_Reg == None %}
                                                    <div class="progress-bar bg-dark" role="progressbar" style="width: 0%" aria-valuenow="15" aria-valuemin="0" aria-valuemax="100"></div>
                                                  {% else %}
                                                    <div class="progress-bar bg-dark" role="progressbar" style="width: {{numero_op.montant_Reg|divide:numero_op.montant_CT}}%" aria-valuenow="15" aria-valuemin="0" aria-valuemax="100"></div>
                                                  {% endif %}

                                                  {% if numero_op.montant_autre_public == None %}
                                                    <div class="progress-bar bg-danger" role="progressbar" style="width: 0%" aria-valuenow="15" aria-valuemin="0" aria-valuemax="100"></div>
                                                  {% else %}
                                                    <div class="progress-bar bg-danger" role="progressbar" style="width: {{numero_op.montant_autre_public|divide:numero_op.montant_CT}}%" aria-valuenow="15" aria-valuemin="0" aria-valuemax="100"></div>
                                                  {% endif %}

                                                  {% if numero_op.montant_privé == None %}
                                                    <div class="progress-bar bg-secondary" role="progressbar" style="width: 0%" aria-valuenow="15" aria-valuemin="0" aria-valuemax="100"></div>
                                                  {% else %}
                                                    <div class="progress-bar bg-secondary" role="progressbar" style="width: {{numero_op.montant_privé|divide:numero_op.montant_CT}}%" aria-valuenow="15" aria-valuemin="0" aria-valuemax="100"></div>
                                                  {% endif %}

                                                  {% if numero_op.montant_auto == None %}
                                                    <div class="progress-bar bg-warning" role="progressbar" style="width: 0%" aria-valuenow="15" aria-valuemin="0" aria-valuemax="100"></div>
                                                  {% else %}
                                                    <div class="progress-bar bg-warning" role="progressbar" style="width: {{numero_op.montant_auto|divide:numero_op.montant_CT}}%" aria-valuenow="15" aria-valuemin="0" aria-valuemax="100"></div>
                                                  {% endif %}
                                                    </div>
                                                     <div class="mt-4 text-center small">
                                                        <span class="mr-2">
                                                            <i class="fas fa-circle text-primary"></i> Feder
                                                        </span>
                                                        <span class="mr-2">
                                                            <i class="fas fa-circle text-success"></i> Etat
                                                        </span>
                                                        <span class="mr-2">
                                                            <i class="fas fa-circle text-info"></i> CD
                                                        </span>

                                                        <span class="mr-2">
                                                            <i class="fas fa-circle text-dark"></i> Région
                                                        </span>

                                                        <span class="mr-2">
                                                            <i class="fas fa-circle text-danger"></i> Autre public
                                                        </span>

                                                        <span class="mr-2">
                                                            <i class="fas fa-circle text-secondary"></i> Privé
                                                        </span>

                                                        <span class="mr-2">
                                                            <i class="fas fa-circle text-warning"></i> Autofinancement
                                                        </span>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="card shadow mb-4">
                                    <!-- Card Header - Dropdown -->
                                    <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                                        <h6 class="m-0 font-weight-bold text-primary">Observations</h6>
                                        <div class="dropdown no-arrow">
                                            <a class="dropdown-toggle" href="#" role="button" id="dropdownMenuLink"
                                                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                                <i class="fas fa-ellipsis-v fa-sm fa-fw text-gray-400"></i>
                                            </a>
                                            <div class="dropdown-menu dropdown-menu-right shadow animated--fade-in"
                                                aria-labelledby="dropdownMenuLink">
                                                <div class="dropdown-header">Dropdown Header:</div>
                                                <a class="dropdown-item" href="#">Action</a>
                                                <a class="dropdown-item" href="#">Another action</a>
                                                <div class="dropdown-divider"></div>
                                                <a class="dropdown-item" href="#">Something else here</a>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- Card Body -->
                                    <div class="card-body">
                                        <div>
                                            <input class="form-control form-control" type="text" placeholder="Quelque que chose à noter ?">
                                        </div>
                                        <div class= "mt-2">
                                        {{numero_op.note}}
                                        </div>
                                    </div>
                                </div>

                        	</div>
                        

                       		<div class="col-xl-4 col-lg-4">
                                <div class="card shadow mb-4">
                                    <!-- Card Header - Dropdown -->
                                    <div
                                        class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                                        <h6 class="m-0 font-weight-bold text-primary">Déroulé de l'opération </h6>
                                        <div class="dropdown no-arrow">
                                            <a class="dropdown-toggle" href="#" role="button" id="dropdownMenuLink"
                                                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                                <i class="fas fa-ellipsis-v fa-sm fa-fw text-gray-400"></i>
                                            </a>
                                            <div class="dropdown-menu dropdown-menu-right shadow animated--fade-in"
                                                aria-labelledby="dropdownMenuLink">
                                                <div class="dropdown-header">Dropdown Header:</div>
                                                <a class="dropdown-item" href="#">Action</a>
                                                <a class="dropdown-item" href="#">Another action</a>
                                                <div class="dropdown-divider"></div>
                                                <a class="dropdown-item" href="#">Something else here</a>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- Card Body -->
                                    <div class="card-body float-right">
                                        <div>
                                            <ul class="list-group list-group-flush mt-2 ">
                                            
                                                <h4 class= "text-primary"> L'opération </h4> 
                                                <h6>{{numero_op.statut_macro}} | {{numero_op.statut_détaillé}}</h6>

                                                <li class="list-group-item "> <span class="font-weight-bold">Début d'exécution de l'opération : </span> {{numero_op.debut_op}}</li>
                                                <li class="list-group-item" > <span class="font-weight-bold"> Fin d'exécution de l'opération : </span> {{numero_op.fin_op}}</li>
                                                <li class="list-group-item"> <span class="font-weight-bold">Date de début d'éligibilité des dépenses : </span>{{numero_op.début_éligibilité}}</li>
                                                <li class="list-group-item"> <span class="font-weight-bold">Date de fin d'éligibilité des dépenses : </span> {{numero_op.fin_éligibilité}}</li>

                                                

                                                <h4 class="text-primary mt-5"> L'instruction</h4>
                                                {% if numero_op.AAP == 'nan' %}
                                                    <h6> Guichet ouvert (instruit par {{numero_op.instructeur}})</h6> 
                                                {% else %}
                                                    <h6>{{numero_op.AAP}}</h6>
                                                {% endif %}
                                                <li class="list-group-item"> <span class="font-weight-bold"> Date de dépôt :</span>  {{numero_op.date_dépôt}}</li>
                                                <li class="list-group-item"> <span class="font-weight-bold">Accusé de réception :</span> {{numero_op.date_réception}}</li>
                                                <li class="list-group-item"> <span class="font-weight-bold">Dossier complet :</span> {{numero_op.date_complétude}}</li>
                                                <li class="list-group-item"> <span class="font-weight-bold">Passsage en cômité :</span>  {{numero_op.date_CRUP}}</li>
                                                <li class="list-group-item"> <span class="font-weight-bold">Notification de l'avis du cômité :</span>  {{numero_op.date_notification}}</li>
                                                <li class="list-group-item"> <span class="font-weight-bold">Date de signature de la convention : </span> {{numero_op.date_signature}}</li>
                                                

                                            </ul>


                                        </div>
                                
                                    </div>
                                </div>
                            </div>



                            <div class="col-xl-8 col-lg-7 float-left">
                                
                            </div>
                   		</div>
                    </div>
           		</div>

            </div>


{% endblock %}