{% extends 'dash/base.html' %}
{% load static %}

{% block content %}

{% if dossier_list %}
<div class="card shadow mb-4 mx-3">
    <div class="card-header py-3">
        <h6 class="m-0 font-weight-bold text-primary"> vous trouvez votre bonheur ?<span class = text-secondary></span> </h6>
    </div>
        <div class="card-body">
			<ul class="list-group-flush">
			{% for dossier in dossier_list %}
			<li class = "list-group-item pl-0 mb-2"><a class="btn btn-sm btn-primary mr-2" href="{%url 'dash:opération' dossier.numero_op %}">{{dossier.numero_op}} </a> {{dossier.porteur}} | {{dossier.libélé}}</li>
			{% endfor %}
			</ul>
			{% endif %}
		</div>

	</div>


{% endblock %}