{% extends 'dash/base.html' %}
{% load static %}
{% load dash_filters %}

{% block content %}
<div class="container-fluid ml-3">
                

                        <!-- Content Column -->
                        <div class="mb-4">

                            <!-- Project Card Example -->
                            <div class="card shadow mb-4">
                                <div class="card-header py-3">
                                    <h6 class="m-0 font-weight-bold text-primary"><i class="fa fa-wh fa-tasks mr-2" aria-hidden="true"></i> Avancement de mes indicateurs </h6>
                                </div>
                                
                                <div class="card-body">
                                    <table id= 'parAxe' class="table table-sm table-striped table-bordered table-hover">
                                    <thead class='thead-dark'>
                                      <tr class='text-center'>
                                        <th class="align-middle " scope="col">N° Indicateur</th>
                                        <th class="align-middle " scope="col">Libellé</th>
                                        <th class="align-middle " scope="col">Valeur prévisionnelle</th>
                                        <th class="align-middle " scope="col">Valeur conventionnée</th>
                                        <th class="align-middle " scope="col">Valeur réalisée</th>
                                         <th class="align-middle " scope="col">Avancement</th>
                                      </tr>
                                    </thead> 
                                    <tbody>
                                      {% for i in somme_indicateurs %}
                                      <tr class='text-center align-middle'>
                                        <th class='text-left' scope="row">{{i.indicateur}}</th>
                                        <td class='text-center align-middle'>{{i.libellé}} </td>
                                        

                                        {% if i.valeur_prev != None %}
                                        <td class='text-center align-middle'>{{i.valeur_prev|floatformat}} </td>
                                        {% else %}
                                        <td class='text-center align-middle'>0 </td>
                                        {% endif %}

                                        {% if valeur_conv != None %}
                                        <td class='text-center align-middle'>{{i.val_conv|floatformat}}</td>
                                        {% else %}
                                        <td class='text-center align-middle'>0 </td>
                                        {% endif %}
                                        
                                        {% if i.valeur_real != None %}
                                        <td class='text-center align-middle'>{{i.valeur_real|floatformat}} </td>
                                        {% else %}
                                        <td class='text-center align-middle'> 0 </td>
                                        {% endif %}

                                        {% if i.valeur_real == None or i.valeur_prev == None %}

                                        <td class='text-center align-middle'>
                                        <div class="progress">
                                        <div class="progress-bar bg-primary" role="progressbar" style="width: 0%"
                                            aria-valuenow="20" aria-valuemin="0" aria-valuemax="100"></div>
                                        </div>
                                        </td>

                                        {% else %}
                                        <td class='text-center align-middle' >
                                        <div class="progress">
                                        <div class="progress-bar bg-primary" role="progressbar" style="width: {{i.valeur_real|divide:i.valeur_prev}}%"
                                            aria-valuenow="20" aria-valuemin="0" aria-valuemax="100"></div>
                                        </div>
                                        </td>

                                        {% endif %}

                                        
                                      </tr>
                                      {% endfor %}
                                      
                                    </tbody>

                                 

                  </tfoot>
                </table>
                           


                            </div>
 
                        </div>

                        
                               

                    
 
                        
                    </div>
                  </div>
{% endblock %}